.container-fluid {
    margin-top: 10px;
}

.modal-header {
    background-color: white;
    color: #a43f27;
}

.modal-body {
    background-color: #C65237;
}

.modal-body p {
    color: #ffffff;
    font-size: 28px;
}

.hint-text {
    color: #ffffff;
    font-size: 28px;
}

.modal-content {
    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-footer {
    background-color: #ffffff;
}

#player-btns {
    display: flex;
    justify-content: space-between;
}

.btn.btn-primary {
    margin-right: 4px;
}

#multiple-btn {
    width: 175px;
}

p {
    font-size: 32px;
    text-align: center;
}

body {
    background-image: url("images/ai-generated-fall-leaves_23-2150648583.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
}

#stopwatch {
    font-size: 32px;
}

.container {
    width: 600px;
}

.card-header {
    padding: 30px 0px;
    background-color: #585123;
    border: 1px solid white;
    margin: 2px;
    height: 200px;
    color: white;
}

.list-group-item {
    background-color: #f58549;
    text-align: center;
    font-size: 40px;
    margin: 5px;
    color: white;
    height: 80px;
}

a {
    height: 90px;
}

#scoreboard {
    background: #772f1a;
    border-style: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 150px;
    color: white;
}

.player-text {
    margin-top: 30px;
}

a:hover {
    text-decoration: none;
}

.opacity {
    opacity: 0.5;
    cursor: not-allowed;
}
